.site-counter{
  padding: 20px 0;
  color: $white;
  background-image: url(../images/backgrounds/banner_02.jpg);
  .section-title{
    margin-bottom: 10px;
    margin-left: 90px;
  }
  @include mobile{
    padding: 40px 0;
  }
  &-item{
    @include desktop{
      margin-bottom: 30px;
      text-align: center;
    }
    &-title{
      font-size: 20px;
      font-weight: 300;
    }
    &-number{
      color: $white;
      font-size: 60px;
      margin-bottom: 0;
      font-weight: 700;
    }
  }
}